SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="06c3", ACTION=="add", RUN+="/bin/systemctl start nfchook_reader"
SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="054c", ENV{ID_MODEL_ID}=="06c3", ACTION=="remove", RUN+="/bin/systemctl stop nfchook_reader"

