[Unit]
Description=NFC hook reader

[Service]
Environment=SQLALCHEMY_DATABASE_URI=sqlite:////var/run/nfchook.db
ExecStart=/home/pi/nfc/bin/nfchook_reader

[Install]
WantedBy=multi-user.target

