<html>
<head>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/default.css">
</head>
<body>
<h1>Cards</h1>

{% if tags %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
<thead><tr>
<th></th>
<th class="mdl-data-table__cell--non-numeric">ID</th>
<th class="mdl-data-table__header--sorted-descending">Date</th>
</tr></thead>
<tbody>
{% for tag in tags %}
<tr>
<td class="mdl-data-table__cell--non-numeric">
<a href="/tag/{{tag.tag}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
  <i class="material-icons">add</i>
</a>
</td>
<td class="mdl-data-table__cell--non-numeric mdl-typography--body-2">{{tag.tag}}</td>
<td class="mdl-data-table__cell--non-numeric">{{tag.tm.replace(microsecond=0)}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
No new cards found. Please hang your card over the reader.
{% endif %}

</body>
</html>

